In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import numpy as np
from scipy.stats import linregress

csvdata2016= "2016 Stack Overflow Survey Responses.csv"
data2016 = pd.read_csv(csvdata2016)

In [2]:
datafor2016 = data2016[['country','age_range','salary_range','tech_do']]
datafor2016=datafor2016.dropna()

In [3]:
clean2016 = datafor2016.reset_index()

In [4]:
clean2016 = clean2016[['country', 'age_range', 'salary_range', 'tech_do']]
clean2016

,country,age_range,salary_range,tech_do
0,Afghanistan,30-34,"$40,000 - $50,000",iOS; Objective-C
1,Afghanistan,Prefer not to disclose,"More than $200,000",Android; Arduino / Raspberry Pi; AngularJS; C;...
2,Afghanistan,25-29,"Less than $10,000",JavaScript; PHP; SQL; WordPress
3,Albania,20-24,"Less than $10,000",PHP
4,Albania,25-29,"Less than $10,000",Arduino / Raspberry Pi; C; C++; Java; JavaScri...
...,...,...,...,...
45269,Uruguay,40-49,"$110,000 - $120,000",C#; JavaScript; LAMP; PHP; SQL; SQL Server
45270,Uzbekistan,20-24,"Less than $10,000",C; C++; Go; R; ReactJS; Redis; Ruby; Rust; Sca...
45271,Uzbekistan,20-24,"Less than $10,000",JavaScript; Python
45272,Venezuela,40-49,"Less than $10,000",LAMP; MongoDB; PHP; WordPress
45273,Vietnam,25-29,"Less than $10,000",Android; Java; JavaScript; Node.js; Redis; Rub...

In [5]:
jezik = clean2016[['tech_do']]

jezik['tech_do'] = jezik['tech_do'].str.replace(' ', '')
jezik

<ipython-input-5-9623b0331ad7>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  jezik['tech_do'] = jezik['tech_do'].str.replace(' ', '')

                                                 tech_do
0                                        iOS;Objective-C
1      Android;Arduino/RaspberryPi;AngularJS;C;C++;C#...
2                           JavaScript;PHP;SQL;WordPress
3                                                    PHP
4      Arduino/RaspberryPi;C;C++;Java;JavaScript;LAMP...
...                                                  ...
45269               C#;JavaScript;LAMP;PHP;SQL;SQLServer
45270       C;C++;Go;R;ReactJS;Redis;Ruby;Rust;Scala;SQL
45271                                  JavaScript;Python
45272                         LAMP;MongoDB;PHP;WordPress
45273     Android;Java;JavaScript;Node.js;Redis;Ruby;SQL

[45274 rows x 1 columns]

In [6]:
def split_multicolumn(col_series):
    result_df = col_series.to_frame()
    options = []
    # Iterate over the column
    for idx, value  in col_series[col_series.notnull()].iteritems():
        # Break each value into list of options
        for option in value.split(';'):
            # Add the option as a column to result
            if not option in result_df.columns:
                options.append(option)
                result_df[option] = False
            # Mark the value in the option column as True
            result_df.at[idx, option] = True
    return result_df[options]

In [7]:
languages2 = split_multicolumn(jezik.tech_do)

languages2

,iOS,Objective-C,Android,Arduino/RaspberryPi,AngularJS,C,C++,C#,Cassandra,CoffeeScript,...,Salesforce,Scala,SharePoint,Spark,SQL,SQLServer,Swift,VisualBasic,WindowsPhone,WordPress
0,True,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,True
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,True,False,True,True,False,False,False,...,False,False,False,False,True,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45269,False,False,False,False,False,False,False,True,False,False,...,False,False,False,False,True,True,False,False,False,False
45270,False,False,False,False,False,True,True,False,False,False,...,False,True,False,False,True,False,False,False,False,False
45271,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
45272,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
45273,False,False,True,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,False

In [8]:
temp = clean2016[['country', 'age_range', 'salary_range']]
clean_2016 = temp.join(languages2, how='outer')

clean_2016

,country,age_range,salary_range,iOS,Objective-C,Android,Arduino/RaspberryPi,AngularJS,C,C++,...,Salesforce,Scala,SharePoint,Spark,SQL,SQLServer,Swift,VisualBasic,WindowsPhone,WordPress
0,Afghanistan,30-34,"$40,000 - $50,000",True,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,Afghanistan,Prefer not to disclose,"More than $200,000",True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
2,Afghanistan,25-29,"Less than $10,000",False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,True
3,Albania,20-24,"Less than $10,000",False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,Albania,25-29,"Less than $10,000",False,False,False,True,False,True,True,...,False,False,False,False,True,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45269,Uruguay,40-49,"$110,000 - $120,000",False,False,False,False,False,False,False,...,False,False,False,False,True,True,False,False,False,False
45270,Uzbekistan,20-24,"Less than $10,000",False,False,False,False,False,True,True,...,False,True,False,False,True,False,False,False,False,False
45271,Uzbekistan,20-24,"Less than $10,000",False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
45272,Venezuela,40-49,"Less than $10,000",False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
45273,Vietnam,25-29,"Less than $10,000",False,False,True,False,False,False,False,...,False,False,False,False,True,False,False,False,False,False

In [9]:
languages_worked_percentages = languages2.mean().sort_values(ascending=False) * 100
language_percent = languages_worked_percentages.reset_index()
language_percent.rename({"index": "language", 0: "percentage"}, axis=1, inplace=True)
language_percent_2016 = language_percent
language_percent_2016

                     language  percentage
0                  JavaScript   56.482749
1                         SQL   45.235676
2                        Java   36.206211
3                          C#   31.388877
4                         PHP   26.200468
5                      Python   24.892874
6                   SQLServer   19.293634
7                         C++   19.083801
8                   AngularJS   18.394664
9                     Node.js   17.659142
10                    Android   17.413968
11                          C   15.216239
12                       LAMP   10.052127
13                    MongoDB    9.935062
14  Cloud(AWS,GAE,Azure,etc.)    9.767195
15                        iOS    9.398330
16                  WordPress    9.349737
17                       Ruby    9.188497
18        Arduino/RaspberryPi    7.710827
19                VisualBasic    6.798604
20                Objective-C    6.730132
21                      Redis    6.032160
22                      Swift    5.769316
23                    ReactJS    5.336396
24               CoffeeScript    3.505323
25                    Cordova    3.419181
26                      Scala    3.330830
27                          R    3.319786
28                       Perl    3.304325
29                         Go    3.198304
30                     Matlab    3.187260
31               WindowsPhone    2.314794
32                     Hadoop    2.080664
33                 SharePoint    1.797941
34                    Haskell    1.621240
35                      Spark    1.462208
36                 Salesforce    1.378275
37                  Cassandra    1.376066
38                    Clojure    1.155188
39                         F#    1.013827
40                       Rust    0.896762
41                       Dart    0.450590

In [10]:
language_percent_2016.to_csv("language_percent_2016.csv", index=True, header=True)

In [11]:
clean_2016.to_csv("clean_2016.csv", index=True, header=True)

In [12]:
langs3 = languages2
langs3

,iOS,Objective-C,Android,Arduino/RaspberryPi,AngularJS,C,C++,C#,Cassandra,CoffeeScript,...,Salesforce,Scala,SharePoint,Spark,SQL,SQLServer,Swift,VisualBasic,WindowsPhone,WordPress
0,True,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,True
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,True,False,True,True,False,False,False,...,False,False,False,False,True,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45269,False,False,False,False,False,False,False,True,False,False,...,False,False,False,False,True,True,False,False,False,False
45270,False,False,False,False,False,True,True,False,False,False,...,False,True,False,False,True,False,False,False,False,False
45271,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
45272,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
45273,False,False,True,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,False

In [13]:
languages_worked_percentages = langs3.mean().sort_values(ascending=False) * 100
languages_worked_percentages

JavaScript                   56.482749
SQL                          45.235676
Java                         36.206211
C#                           31.388877
PHP                          26.200468
Python                       24.892874
SQLServer                    19.293634
C++                          19.083801
AngularJS                    18.394664
Node.js                      17.659142
Android                      17.413968
C                            15.216239
LAMP                         10.052127
MongoDB                       9.935062
Cloud(AWS,GAE,Azure,etc.)     9.767195
iOS                           9.398330
WordPress                     9.349737
Ruby                          9.188497
Arduino/RaspberryPi           7.710827
VisualBasic                   6.798604
Objective-C                   6.730132
Redis                         6.032160
Swift                         5.769316
ReactJS                       5.336396
CoffeeScript                  3.505323
Cordova                       3.419181
Scala                         3.330830
R                             3.319786
Perl                          3.304325
Go                            3.198304
Matlab                        3.187260
WindowsPhone                  2.314794
Hadoop                        2.080664
SharePoint                    1.797941
Haskell                       1.621240
Spark                         1.462208
Salesforce                    1.378275
Cassandra                     1.376066
Clojure                       1.155188
F#                            1.013827
Rust                          0.896762
Dart                          0.450590
dtype: float64

In [ ]:
language_percent = languages_worked_percentages.reset_index()
language_percent.rename({"index": "language", 0: "percentage"}, axis=1, inplace=True)
language_percent_2016 = language_percent
language_percent_2016